# slicing of strings

In [1]:
s ="kam"
# in slicing there are : : : two coloumns [: : :] where 1st is the start 2nd is the stop
# and 3rd is the step size .. by default the stop is n where list is (n-1)

In [2]:
a = "ninna"
a[1:4]

'inn'

In [3]:
# slicing happens in negative index as well

In [4]:
a[-1]

'a'

In [9]:
a[2:]

'nna'

In [10]:
a[:2]

'ni'

In [11]:
a[1:9] # it will not throw error whatver the possible it will throw.

'inna'

In [12]:
m = "apple"
m[7::-1] # start from the 7th index and will go till -1 i.e from e to a ...

'elppa'

In [25]:
## New way to find the reverse of a string

In [26]:
name =str(input())
length = len(name)
l=name[length:: -1]
print("The reverse of", name, "is: " , l ) # this is a new string we are not changing the string

apple
The reverse of apple is:  elppa

In [27]:
s = "abcdef"
print (s[4:2:-1])
# from 4 i.e e it is going till 2 i.e c .. edc but in -1 so

ed

In [29]:
s = "abcdef"
print (s[4:1:-2])  # edcb

ec

## Itreration on Strings

In [1]:
# how to iterate string
str = "hello world"
# we have to iterate on each character

In [3]:
# calculate how many times l appears
count = 0
for letter in str:
    if letter =='l':
        count+=1
print(count)

3

In [7]:
ab = "apple"
count1 = 0
for i in range(len(ab)): # i is going from i to len(-1)
    if (ab[i]) == "p":
        count1 = count1 +1 
print(count1) # after for loop printing the count

2

## in and not in operation

it checks whether a substring exists there or not. where substring is starting from any particular and continuing....
ex: suppose hello is a string
he
hel
hello

### we cannot go backwards ol so not in operator

In [9]:
str = "hello"
if 'hel' in str:
    print("yes it is a sunstring")
else:
    print("not a substring")

yes it is a sunstring

In [10]:
string = "kalu pandey"
if 'alu' in string:
    print("yes it is a string")
else:
    print("not a substinrg")

yes it is a string

## comparison opeartors on string

we have various comparison operators like = , >=, <= ,== ,!=

In [11]:
a ="nis" =="nishant"

In [12]:
a

False

In [13]:
a = "ram" >="sami"

In [14]:
a

False

In [15]:
# these characters are compared based on the ASCII value.. a = 97 A =65

In [22]:
 "gandhi" >="ram"

False

In [23]:
n

False

In [24]:
 "rami" >="ram" # this is because upto ram we have the same only the i has been added

True

In [29]:
a = "abcdef" == "abcd"
print(a)

False

In [31]:
ascii('A')

"'A'"

In [32]:
## Operations in Strings

# 1) Split function

In [33]:
str = "my name is kalu"
li = str.split() # it will return a list of strings 
print(li) # will split on the bases of space since no delimiter is there

['my', 'name', 'is', 'kalu']

In [37]:
str1 = "my, name, is, kam"
li1 = str1.split(',') # it will split on the basis of the comma
print(li1)

['my', ' name', ' is', ' kam']

In [38]:
# the default argument is overall how many items are there, but we can pass how many 
# items we want ..

In [44]:
str1 = "my, name, is, kam"
li1 = str1.split(',',2) # it will split on the basis of the comma
print(li1)

['my', ' name', ' is, kam']

## replace

In [51]:
str = "ram is a boy"
str = str.replace("ram", "kam")
print(str) # since strings are immutable it will create a new one and does .

kam is a boy

In [52]:
str = "ram is a boy"
str = str.replace("ram", "kam")
print(str) #

kam is a boy

# find

In [53]:
str = "pokemon is pikachu"
index = str.find("po") # finding substring
print(index) # will return the staarting index of the substring ,-1 is not found

0

In [54]:
str = "pokemon is pikachu"
index = str.find("ke") # finding substring
print(index) # will return the staarting index of the substring

2

In [55]:
str = "my name is pa pa"
index = str.find("pa") # 1st one it will print 
print(index)

11

In [56]:
str = "my name is pa pa"
index = str.find("pa", 16 ,20) # staring from 16 gong till 20 ,,  
print(index)

-1

## lower and upper

In [61]:
a = "NISHANT"
a = a.lower() # convert the lower will create a new one since string are immutable
print(a)

nishant

In [62]:
a = a.upper()
print(a)

NISHANT

## starts with

In [64]:
str = "pokemon is pikachu"
ans = str.startswith("pokemon is") 
print(ans)

True

In [66]:
str = "pokemon is pikachu"
ans = str.startswith("pokemon is", 11,23)  # from 11 to 23, we can define 11 only as end will br
print(ans)

False